<main class="about-main">
    <section class="about-intro">
        <div class="intro-text">
            <div class="bg1-banner">
                <h1 class="primary-title">FORKSY</h1>
                <p>
                    FORKSY is a dedicated platform for all food lovers. You can easily discover and share thousands of
                    diverse recipes, from simple everyday dishes to more sophisticated creations. More than just written
                    recipes, FORKSY offers a rich collection of cooking videos, making it
                    easier and more engaging to learn step by step. It is also a vibrant
                    community where chefs, both amateur and professional, can connect, exchange experiences,
                    and
                    inspire one another. With FORKSY, cooking is not just a daily task but a journey of creativity and a
                    way
                    to build meaningful connections through food.
                </p>
            </div>
        </div>
    </section>
    <section class="about-intro about-intro-flex">
        <div class="intro-text">
            <img src="https://poseidon-web.s3.zsoft.solutions/app/media/uploaded-files/200823-cach-lam-pho-ga-buffet-poseidon.jpg"
                class="intro-img" />
            <p>
                FORKSY is a dedicated platform for food lovers, where you can easily discover and share <span
                    class="highlight">thousands of diverse recipes</span>, from simple everyday dishes to more
                sophisticated creations. More than just written recipes, FORKSY offers a rich collection of <span
                    class="highlight">cooking videos</span>, making it easier and more engaging to learn <span
                    class="highlight">step by step</span>. It is also a <span class="highlight">vibrant
                    community</span> where chefs, both amateur and professional, can connect, exchange experiences, and
                inspire one another. With FORKSY, cooking is not just a daily task but a journey of creativity and a way
                to build <span class="highlight">meaningful connections through food</span>.
            </p>
        </div>
        <img src="SVG.png" class="view" />
    </section>
    <!-- Feedback Modal -->
    <div class="bg2-banner">
        <section class="feedback-section">
            <div class="feedback-modal">
                <div class="feedback-header">
                    <span>Feedback</span>
                    <button mat-icon-button><mat-icon>close</mat-icon></button>
                </div>
                <div class="feedback-body">
                    <h2>Give us a feedback!</h2>
                    <p>Your input is important for us. We take customer feedback very seriously.</p>
                    <div class="feedback-emojis">
                        <button mat-icon-button><img
                                src="https://emojiisland.com/cdn/shop/products/Sad_Face_Emoji_grande.png?v=1571606037" /></button>
                        <button mat-icon-button><img
                                src="https://www.emojiall.com/images/240/apple/1f630.png" /></button>
                        <button mat-icon-button><img
                                src="https://static.vecteezy.com/system/resources/previews/054/044/160/non_2x/an-expressionless-emoji-face-with-a-flat-mouth-and-neutral-eyes-conveying-a-sense-of-detachment-or-boredom-in-soft-yellow-tones-png.png" /></button>
                        <button mat-icon-button><img
                                src="https://i.pinimg.com/236x/e7/80/27/e780278bbf75232b244ff3ba4d076f85.jpg" /></button>
                        <button mat-icon-button><img
                                src="https://e7.pngegg.com/pngimages/866/942/png-clipart-emoji-love-heart-sticker-emoticon-emoji-love-emoticon-love-heart-thumbnail.png" /></button>
                    </div>
                    <textarea placeholder="Add a comment"></textarea>
                    <button mat-raised-button color="primary" class="submit-btn">Submit Feedback</button>
                </div>
            </div>
        </section>
    </div>

</main>